$name-card-width: 520px;
$name-card-height: 300px;
$sm-name-card-width: 90vw;
$sm-name-card-height: $sm-name-card-width*$name-card-height/$name-card-width;

.cardPiles {
  width: $name-card-width;
  height: $name-card-height;
  border-radius: 8px;
  background-color: rgb(26, 65, 41);
  margin: 4rem 0;
  position: absolute;
  right: 2rem;
  box-shadow: 4px 4px 3px #1c1c1c6d;
}

.cardPiles::before {
  content: '';
  width: $name-card-width;
  height: $name-card-height;
  border-radius: 8px;
  background-color: rgb(81, 124, 99);
  margin: 4rem 0;
  position: absolute;
  right: 4rem;
  box-shadow: 4px 4px 3px #1c1c1c6d;
  transform: rotate(-30deg);
}

.cardPiles::after {
  content: '';
  width: $name-card-width;
  height: $name-card-height;
  border-radius: 8px;
  background-color: rgb(189, 210, 198);
  margin: 3rem 0;
  position: absolute;
  right: 2rem;
  box-shadow: 4px 4px 3px #1c1c1c6d;
  transform: rotate(20deg);
}

.nameCardContainer {
  margin: 2rem 0;
  width: $name-card-width;
  height: $name-card-height;
  border-radius: 8px;
  background-color: #5edc1f;
  transform: rotate(180deg);
  transform-origin: right top;
  position: absolute;
  animation: spin 0.6s forwards 1;
  animation-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  box-shadow: 4px 4px 3px #6865656d;
}

.leftSide {
  position: relative;
  padding: 30px 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}

.leftSide::after {
  content: '';
  width: 1px;
  height: $name-card-height*0.9;
  background-color: rgb(30, 30, 30);
  position: absolute;
  right: 0;
  top: $name-card-height*0.1*0.5;
}

.name {
  font-size: 1.2rem;
  font-family: 'Helvetica Neue';
  font-weight: bold;
  color: rgb(30, 30, 30);
}

.rightSide {
  padding: 25px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.contact {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin: 4px 0 0 0;
  width: 90%;
}

.contactLink {
  font-size: 1.1rem;
  text-align: end;
  text-decoration: underline;
  cursor: pointer;
  margin-left: 5px;
}


@media only screen and (max-width: 630px) {
  .cardPiles, .cardPiles::after, .cardPiles::before {
    width: $name-card-width*0.75;
    height: $name-card-height*0.75;
  }

  .cardPiles::after, .cardPiles::before {
    right: 1rem;
  }
  
  .nameCardContainer {
    width: $name-card-width*0.75;
    height: $name-card-height*0.75;
  }

  .leftSide::after {
    height: $name-card-height*0.75*0.9;
    top: $name-card-height*0.75*0.1*0.5;
  }

  .contact {
    align-items: flex-start;
  }

  .name {
    font-size: 0.9rem;
  }

  .contactLink {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 500px) {
  .cardPiles, .cardPiles::after, .cardPiles::before, .nameCardContainer {
    width: $sm-name-card-width;
    height: $sm-name-card-height;
    left: 4px;
  }

  .cardPiles {
    margin: 3rem 0;
  }

  .leftSide, .rightSide {
    padding: 12px;
  }

  .leftSide::after {
    height: $sm-name-card-height*0.9;
  }

  .contact {
    align-items: flex-start;
  }

  .name {
    font-size: 0.7rem;
  }

  .contactLink {
    font-size: 0.8rem;
  }
}

@keyframes spin { 
  0% {
    top: 300px;
    right: -$name-card-width;
  }
  100% { 
    top: 100px;
    right: 8%;
    transform:rotate(350deg); 
  } 
}