$skills-font-size: 1.5rem;

.expContainer {
  flex: 1;
  border-width: 5px solid red;
  display: flex;
  flex-direction: row;
  padding: 0 5rem;
}

.timelineMenu {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.mainContent {
  flex: 8;
  padding: 2rem;
}

.recordTitle {
  display: block;
  font-size: 3rem;
  font-weight: bold;
}

.recordLocation {
  display: block;
  font-size: 1.8rem;
  font-weight: bold;
  text-align: right;
}

.recordPeriod {
  display: block;
  font-size: 1.4rem;
  font-weight: bold;
  text-align: right;
}

.descriptionContainer {
  margin: 4rem 0 0 0;
}

.recordSkills {
  font-size: $skills-font-size;
  border-bottom: 5px solid rgba(0, 255, 0, 0.658);
}

.recordDescription {
  font-size: 1.8rem;
  margin-top: 3rem;
}