$skills-font-size: 1.5rem;
$title-font-size: 3rem;
$location-font-size: 1.8rem;
$period-font-size: 1.4rem;
$desc-font-size: 1.8rem;

.expContainer {
  flex: 1;
  display: flex;
  flex-direction: row;
  padding: 1.5rem 5rem;
}

.timelineMenu {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.mainContent {
  flex: 8;
  padding: 2rem;
}

.recordTitle {
  display: block;
  font-size: $title-font-size;
  font-weight: bold;
}

.recordLocation {
  display: block;
  font-size: $location-font-size;
  font-weight: bold;
  text-align: right;
}

.recordPeriod {
  display: block;
  font-size: $period-font-size;
  font-weight: bold;
  text-align: right;
}

.descriptionContainer {
  margin: 4rem 0 0 0;
}

.recordSkills {
  font-size: $skills-font-size;
  margin-bottom: 30px;
}

.recordDescription {
  font-size: $desc-font-size;
  display: block;
  margin-top: 0.3rem;
}

@media only screen and (max-width: 768px) {
  .expContainer {
    padding: 1rem 1rem;
  }

  .timelineMenu {
    flex: 1;
    margin-right: 10px;
  }

  .mainContent {
    padding: 1rem;
  }

  .recordTitle {
    font-size: $title-font-size*0.8;
  }
  
  .recordLocation {
    margin-top: $location-font-size;
    font-size: $location-font-size*0.8;
  }
  
  .recordPeriod {
    margin-top: $period-font-size*0.2;
    font-size: $period-font-size*0.8;
  }

  .recordSkills {
    font-size: $skills-font-size*0.8;
  }

  .recordDescription {
    font-size: $desc-font-size*0.7;
  }
}