.timelineMenu {
  margin: 0 5rem;
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
  flex: 1;
}

@media only screen and (max-width: 1000px) {
  .timelineMenu {
    margin: 0 1rem;
    flex: 1;
    flex-direction: column;
  }
}