$menu-font-size: 2.5rem;

.container {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.timelineContainer {
  display: flex;
  flex-direction: column;
  // width: 100%;
  flex: 1;
  border-right: 5px solid black;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
  position: relative;
  transform: rotate(180deg);
  background-color: transparent;
  padding: 10px;

  &:last-child{
    border-left: 5px solid black;
  }

  .dateMenu {
    display: inline-block;
    font-family: 'Archivo';
    font-size: $menu-font-size;
    font-weight: bold;
    cursor: pointer;
    writing-mode: vertical-rl;
    transition: color 0.2s ease-in-out;
  }

  .selectedRecord {
    color: rgba(0, 255, 0, 0.824);
    text-decoration: underline;
  }
}

.selectedTimelineContainer {
  border-left: none;
  position: relative;
}

.detail {
  border-top: 5px solid black;
  border-right: 5px solid black;
  border-bottom: 5px solid black;
  padding: 30px 25px;
  min-width: 400px;

  & > span {
    display: block;
    margin-left: 30px;
  }

  .companyName {
    font-size: 1.6rem;
  }
  
  .detailTxt {
    font-size: 1.4rem;
  }
  
  .detailDescription {
    margin-top: 0.5rem;
    text-align: left;
    font-size: 1.2rem;
  }
  
  .recordSkills {
    margin: 20px 0;
    font-size: 1.2rem;
  }
}

.selectedDetail {
  text-align: right;  
}



@media only screen and (max-width: 1000px) {
  .container {
    flex: 1;
    display: flex;
    flex-direction: column;

    &:last-child {
      border-bottom: 5px solid black;
    }
  }

  .timelineContainer {
    border-bottom: 4px solid black;
    transform: none;
    border-left: 5px solid black;
    border-top: 5px solid black;
    border-bottom: none;

    .dateMenu {
      font-size: $menu-font-size*0.7;
      writing-mode: horizontal-tb;
    }
  }

  .detail {
    border-left: 5px solid black;
    border-bottom: 0;
    border-top: 0;
    position: relative;
    min-width: 100px;

    :nth-child(1) {
      position: absolute;
      right: 10px;
      top: 0;
      margin-bottom: 10px;
    }

    .companyName, :nth-child(3) {
      text-align: right;
    }

    span {
      margin-left: 0;
    }
  }

  .selectedDetail {
    text-align: start;
  }
}