$order-font-size: 1.2rem;
$menu-font-size: 3.2rem;

.container {
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0;
  width: 100%;
  align-items: flex-start;
  border-bottom: 5px solid black;
  position: relative;
}

.order {
  width: 100%;
  font-size: $order-font-size;
  font-family: 'Archivo';
}

.dateMenu {
  display: inline-block;
  font-family: 'Archivo';
  font-size: $menu-font-size;
  font-weight: bold;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .container {
    border-bottom: 4px solid black;
  }

  .dateMenu {
    font-size: $menu-font-size*0.5;
  }

  .order {
    font-size: $order-font-size*0.9;
  }
}